

h1 {
    margin: 0px;
    text-align: center;
}

.header {
    background-image:linear-gradient(to right, rgb(130, 200, 223), rgb(2, 2, 37));
    color: white;
}

form {
    width: 400px;
    margin: auto;
    margin-top: 25px;
  }
  
  
  input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
  }
  
  .search {
    width: 75%;
    border: solid;
    border-radius: 5px;
  }
  
  .submit {
    width: 70px;
    background-color: rgb(130, 200, 223);
    color: #ffffff;
    border-radius: 5px;
  }


  
 .left {
   float:left;
   width: 500px;
   height: 500px;
   margin: 15px;
 }

 .right .forecast {
  display: inline-block;
  vertical-align: right;
 }

 .card {
   display: inline-block;
   align-items: flex-end;
   background-color:rgb(37, 37, 114) ;
   color: white;
 }
 

